<div class="section section-white">
  <div class="container">
    <div class="row">

      <div class="section-title">
        <h1>Your cart contains:</h1>
      </div>


      <ul class="row cs-style-3 row-eq-height">
        <div ng-repeat="book in cart" class="col-md-4 col-sm-6">
          <figure>
            <img src="{{book.cover}}" alt="Cover" width="100%">
            <span>Price: {{book.price}}€</span>
            <figcaption>
              <div class=" btn btn-xs btn-danger pull-right" ng-click="deleteFromCart(book)"><i class="icon-trash"></i></div>
            </figcaption>
          </figure>
        </div>
      </ul>

    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">

      <div class="section-title">
        <h1>Available offers:</h1>
      </div>

      <div class="col-lg-12">
        <!-- Pricing Plans Wrapper -->
        <div class="pricing-wrapper">

          <!-- Pricing Plan -->
          <div ng-repeat="offer in offers" ng-init="offer.best=isBestOffer(offer)" class="pricing-plan" ng-class="{'pricing-plan-promote':offer.best}">
            <h2 ng-class="{'pricing-plan-promote-title':offer.best, 'pricing-plan-title': !offer.best}">{{offer.type}}</h2>

            <div ng-if="offer.type == 'percentage'" ng-class="{'pricing-plan-promote-price':offer.best, 'pricing-plan-price': !offer.best}">-{{offer.value}}%</div>
            <div ng-if="offer.type == 'minus'" ng-class="{'pricing-plan-promote-price':offer.best, 'pricing-plan-price': !offer.best}">-{{offer.value}}€</div>
            <div ng-if="offer.type == 'slice'" ng-class="{'pricing-plan-promote-price':offer.best, 'pricing-plan-price': !offer.best}">-{{offer.value}}€</div>

            <!-- Pricing Plan Features -->
            <ul ng-class="{'pricing-plan-promote-features':offer.best, 'pricing-plan-features': !offer.best}">
              <li ng-if="offer.type == 'slice'">Every <strong>{{offer.sliceValue}}€</strong> spent</li>
              <li ng-if="offer.type != 'slice'"><strong>Maximum</strong> security</li>
              <li><strong>1 day</strong> delivery</li>
              <li><strong>Huge</strong> wrapping</li>
            </ul>
            <a href="index.html" class="btn" ng-class="{'btn-green':offer.best}">Total: {{offer.total}}€</a>
          </div>
          <!-- End Pricing Plan -->
        </div>
        <!-- End Pricing Plans Wrapper -->
      </div>
    </div>
  </div>
</div>
