<div class="footer">
  <div class="container">

    <div class="row">

      <div class="col-footer col-md-4 col-xs-6">
        <h3>Contact Me</h3>
        <p class="contact-us-details">
          <b>Address:</b><a href="https://goo.gl/maps/eZf5w" target="_blank"> 212 avenue du Maine 75014 Paris</a><br/>
          <b>Cell.:</b> <a href="tel:+33 6 82 53 62 07">+33 6 82 53 62 07</a><br/>
          <b>Email:</b> <a href="mailto:alain.nicolas.epf@gmail.com">alain.nicolas.epf@gmail.com</a>
        </p>
      </div>
      <div class="col-footer col-md-4 col-xs-6">
        <h3>My Social Networks</h3>
        <p>Meet me elsewhere</p>
        <div>
          <a href="https://twitter.com/Alain_Ncls" target="_blank"><span class="icon-twitter-sign"></span></a>
          <a href="https://fr.linkedin.com/in/alainnicolas" target="_blank"><span class="icon-linkedin-sign"></span></a>
          <a href="https://plus.google.com/106583880548533765936" target="_blank"><span class="icon-google-plus-sign"></span></a>
          <a href="https://github.com/alainncls" target="_blank"><span class="icon-github-sign"></span></a>
        </div>
      </div>
      <div class="col-footer col-md-4 col-xs-6">
        <h3>About Me</h3>
        <p>I'm from <a href="http://www.epf.fr" target="_blank">EPF</a>, Graduate School of Engineering</p>
        <a href="http://www.epf.fr" target="_blank"><img class="pull-right" src="images/logo_epf.jpg" alt="Logo EPF" height="10%" width="10%"></a>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="footer-copyright">&copy; 2015 - Alain NICOLAS</div>
      </div>
    </div>
  </div>
</div>
