
<div class="jumbotron">
  <h1>eLibrary - Henri Potier</h1>
  <p>Get the famous novel series with the best discounts available !</p>
</div>

<div class="section section-white">

  <div class="section-title">
    <h1>Our commitments</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="service-wrapper">
          <i class="icon-fast-forward"></i>
          <h3>Fast delivery</h3>
          <p>Early delivery service</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="service-wrapper">
          <i class="icon-briefcase"></i>
          <h3>Perfect packaging</h3>
          <p>Always get beautiful new books</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="service-wrapper">
          <i class="icon-key"></i>
          <h3>Payment security</h3>
          <p>Your data is secured</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section section-white">
  <div class="container">
    <div class="row">

      <div class="section-title">
        <h1>Henri Potier series</h1>
      </div>

      <ul class="row cs-style-3 row-eq-height">
        <div ng-repeat="book in books" class="col-md-4 col-sm-6">
          <figure>
            <img src="{{book.cover}}" ng-click="goTo(book.isbn)" alt="Cover" width="100%">
            <figcaption>
              <span>Price: {{book.price}}€</span>
              <a class="btn btn-xs" ng-click="addToCart(book)"><i class="icon-shopping-cart"></i> Add to cart</a>
            </figcaption>
          </figure>
        </div>
      </ul>

    </div>
  </div>
</div>

